<div class="flex flex-wrap">
  <div class="mt-8 w-full lg:mt-0 lg:w-3/12 lg:pl-4">
  </div>
  <div class="w-full rounded-3xl bg-gray-800 p-6 lg:w-6/12">
    <div class="mb-8 flex items-center justify-between text-white">
      <p class="text-2xl font-bold">Trending Polls</p>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full md:w-12/12">
        <div class="p-2">
          <div class="rounded-3xl p-4 bg-[#fee4cb]">
            <giggly-voting [question]="question" [options]="options" [showTimeLeft]="true" [timeLeftText]="timeLeftText"
              (voteSelected)="handleVote($event)">
            </giggly-voting>
          </div>
        </div>
      </div>
      <!-- <div class="w-full md:w-4/12">
        <div class="p-2">
          <div class="rounded-3xl bg-gray-300 p-4">
            <div class="justify-b flex items-center">
              <span class="text-sm">December 10, 2020</span>
            </div>
            <div class="mb-4 mt-5 text-center">
              <p class="text-base font-bold opacity-70">Web Designing</p>
              <p class="mt-2 text-sm opacity-70">Prototyping</p>
            </div>
            <div>
              <p class="m-0 text-sm font-bold">Progress</p>
              <div
                class="mx-0 my-2 h-1 w-full overflow-hidden rounded-md bg-white"
              >
                <span class="block h-1 w-5/12 rounded-md bg-indigo-700"></span>
              </div>
              <p class="m-0 text-right text-sm font-bold">50%</p>
            </div>
            <div class="relative flex justify-between pt-4">
              <div class="flex items-center">
                <img
                  class="h-5 w-5 overflow-hidden rounded-full object-cover"
                  src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80"
                  alt="participant"
                />
                <img
                  class="h-5 w-5 overflow-hidden rounded-full object-cover"
                  src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fG1hbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60"
                  alt="participant"
                />
                <button
                  class="ml-3 flex h-5 w-5 items-center justify-center rounded-full border-none bg-white p-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="12"
                    height="12"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M12 5v14M5 12h14" />
                  </svg>
                </button>
              </div>
              <div
                class="flex shrink-0 rounded-lg px-4 py-2 text-sm font-bold text-indigo-700"
              >
                2 Days Left
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-4/12">
        <div class="p-2">
          <div class="rounded-3xl bg-green-200 p-4">
            <div class="flex items-center">
              <span class="text-sm">December 10, 2020</span>
            </div>
            <div class="mb-4 mt-5 text-center">
              <p class="text-base font-bold opacity-70">Web Designing</p>
              <p class="mt-2 text-sm opacity-70">Prototyping</p>
            </div>
            <div>
              <p class="m-0 text-sm font-bold">Progress</p>
              <div
                class="mx-0 my-2 h-1 w-full overflow-hidden rounded-md bg-white"
              >
                <span class="block h-1 w-7/12 rounded-md bg-green-700"></span>
              </div>
              <p class="m-0 text-right text-sm font-bold">70%</p>
            </div>
            <div class="relative flex justify-between pt-4">
              <div class="flex items-center">
                <img
                  class="h-5 w-5 overflow-hidden rounded-full object-cover"
                  src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80"
                  alt="participant"
                />
                <img
                  class="h-5 w-5 overflow-hidden rounded-full object-cover"
                  src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fG1hbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60"
                  alt="participant"
                />
                <button
                  class="ml-3 flex h-5 w-5 items-center justify-center rounded-full border-none bg-white p-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="12"
                    height="12"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M12 5v14M5 12h14" />
                  </svg>
                </button>
              </div>
              <div
                class="flex shrink-0 rounded-lg px-4 py-2 text-sm font-bold text-green-700"
              >
                2 Days Left
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-4/12">
        <div class="p-2">
          <div class="rounded-3xl bg-blue-200 p-4">
            <div class="flex items-center">
              <span class="text-sm">December 10, 2020</span>
            </div>
            <div class="mb-4 mt-5 text-center">
              <p class="text-base font-bold opacity-70">Web Designing</p>
              <p class="mt-2 text-sm opacity-70">Prototyping</p>
            </div>
            <div>
              <p class="m-0 text-sm font-bold">Progress</p>
              <div
                class="mx-0 my-2 h-1 w-full overflow-hidden rounded-md bg-white"
              >
                <span class="block h-1 w-7/12 rounded-md bg-blue-700"></span>
              </div>
              <p class="m-0 text-right text-sm font-bold">70%</p>
            </div>
            <div class="relative flex justify-between pt-4">
              <div class="flex items-center">
                <img
                  class="h-5 w-5 overflow-hidden rounded-full object-cover"
                  src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80"
                  alt="participant"
                />
                <img
                  class="h-5 w-5 overflow-hidden rounded-full object-cover"
                  src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fG1hbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60"
                  alt="participant"
                />
                <button
                  class="ml-3 flex h-5 w-5 items-center justify-center rounded-full border-none bg-white p-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="12"
                    height="12"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M12 5v14M5 12h14" />
                  </svg>
                </button>
              </div>
              <div
                class="flex shrink-0 rounded-lg px-4 py-2 text-sm font-bold text-blue-700"
              >
                2 Days Left
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-4/12">
        <div class="p-2">
          <div class="rounded-3xl bg-red-200 p-4">
            <div class="flex items-center">
              <span class="text-sm">December 10, 2020</span>
            </div>
            <div class="mb-4 mt-5 text-center">
              <p class="text-base font-bold opacity-70">Web Designing</p>
              <p class="mt-2 text-sm opacity-70">Prototyping</p>
            </div>
            <div>
              <p class="m-0 text-sm font-bold">Progress</p>
              <div
                class="mx-0 my-2 h-1 w-full overflow-hidden rounded-md bg-white"
              >
                <span class="block h-1 w-7/12 rounded-md bg-red-700"></span>
              </div>
              <p class="m-0 text-right text-sm font-bold">70%</p>
            </div>
            <div class="relative flex justify-between pt-4">
              <div class="flex items-center">
                <img
                  class="h-5 w-5 overflow-hidden rounded-full object-cover"
                  src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80"
                  alt="participant"
                />
                <img
                  class="h-5 w-5 overflow-hidden rounded-full object-cover"
                  src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fG1hbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60"
                  alt="participant"
                />
                <button
                  class="ml-3 flex h-5 w-5 items-center justify-center rounded-full border-none bg-white p-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="12"
                    height="12"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M12 5v14M5 12h14" />
                  </svg>
                </button>
              </div>
              <div
                class="flex shrink-0 rounded-lg px-4 py-2 text-sm font-bold text-red-700"
              >
                2 Days Left
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-4/12">
        <div class="p-2">
          <div class="rounded-3xl bg-purple-200 p-4">
            <div class="flex items-center">
              <span class="text-sm">December 10, 2020</span>
            </div>
            <div class="mb-4 mt-5 text-center">
              <p class="text-base font-bold opacity-70">Web Designing</p>
              <p class="mt-2 text-sm opacity-70">Prototyping</p>
            </div>
            <div>
              <p class="m-0 text-sm font-bold">Progress</p>
              <div
                class="mx-0 my-2 h-1 w-full overflow-hidden rounded-md bg-white"
              >
                <span class="block h-1 w-7/12 rounded-md bg-purple-700"></span>
              </div>
              <p class="m-0 text-right text-sm font-bold">70%</p>
            </div>
            <div class="relative flex justify-between pt-4">
              <div class="flex items-center">
                <img
                  class="h-5 w-5 overflow-hidden rounded-full object-cover"
                  src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80"
                  alt="participant"
                />
                <img
                  class="h-5 w-5 overflow-hidden rounded-full object-cover"
                  src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fG1hbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60"
                  alt="participant"
                />
                <button
                  class="ml-3 flex h-5 w-5 items-center justify-center rounded-full border-none bg-white p-0"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="12"
                    height="12"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M12 5v14M5 12h14" />
                  </svg>
                </button>
              </div>
              <div
                class="flex shrink-0 rounded-lg px-4 py-2 text-sm font-bold text-purple-700"
              >
                2 Days Left
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="mt-8 w-full lg:mt-0 lg:w-3/12 lg:pl-4">
  </div>
</div>